Enhancement to have runtime option to allow for using part c of RFC 5227 section 2.4 for static IP addresses.

I as a user would like my system to defend a static IP more that what is currently there.

See section c of this RFC:
[RFC 5227 section 2.4](https://datatracker.ietf.org/doc/html/rfc5227#section-2.4)

Could we get a runtime option to enable this defense?
